.contenido{
  padding: 2%;
  
}
.llenar{
  width: 100%;
}
.col{
  text-align: center;
  display: flex;
 

}
.col{
  display: flex;
  justify-content: space-around;
}
.guardar{
  width: 20%;
  background-color: rgb(116, 218, 96);
}
.green-icon{
  color: green;
}
.red-icon{
  color: red;
}

.titular{
  width: 20%;
  display: block;
}

.titular-1{
  width: 20%;
}


.date{
  margin-left: -640px;
  width: 140px;
}


.password{
  margin-left: -1857px;
  width: 140px;
}
